<html lang="en">
<head>
   <meta charset="UTF-8">
   
   <title>NotePad</title>
   <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}
   </style>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   <link rel="stylesheet" href="note.css">
</head>

<body ng-app="myNoteApp" ng-controller="myNoteCtrl" class="ng-scope">

<h1 align="center">Notepad</h1>

<textarea align="center" style="background-color:Cave White;color:black; border: 3px solid #000;" ng-model="message" cols="203" rows="30" class="ng-pristine ng-valid ng-touched"></textarea>

<p align="center">
<button ng-click="save()">Save</button>
<button ng-click="clear()">Clear</button>
</p><script src="note1.js"></script>
<script src="note.js"></script>
</body>
</html>
